@model IEnumerable<Students.Models.Student>

@{
    ViewBag.Title = "Index";
}
@{Layout = "~/Views/Shared/_LayoutNoNav.cshtml";}

<h2>Index of Students</h2>



@foreach (var item in Model)
{
    @Html.DisplayFor(modelItem => item);
}


